<div class="user-layout">
    {{#> SidePanel}}
        {{{back}}}
    {{/SidePanel}}
    {{#> BaseLayout classes="user-container"}}
        <div class="user-content">
            {{{avatar}}}
            {{{nick}}}
            {{#if mode.pass}}
                {{{formPass}}}
            {{else}}
                {{{formInfo}}}
            {{/if}}
            {{#if mode.view}}
                <div class="user-actions">
                    {{{changeInfo}}}
                    {{> Divider}}
                    {{{changePass}}}
                    {{> Divider}}
                    {{{signOut}}}
                </div>
            {{/if}}
        </div>
    {{/BaseLayout}}
    {{#if mode.avatar}}
        {{{modalAvatar}}}
    {{/if}}
</div>
