<div class="chat__layout">
    <nav class="chat__nav">
        <div class="chat__nav-panel">
            {{{redirect}}}
            {{{formSearch}}}
        </div>
        {{> Divider}}
        {{{listChats}}}
    </nav>
    {{#if selectedChat}}
        <div class="messages__container">
            <header class="messages__row">
                {{{headerChat}}}
            </header>
            {{> Divider}}
            {{{listMessages}}}
            {{> Divider}}
            <footer class="messages__row">
                {{{actionAttach}}}
                {{{formMessage}}}
            </footer>
        </div>
    {{else}}
        {{#> BaseLayout}}
            <p class="text text_light-color">Please select chat from list to start messaging</p>
        {{/BaseLayout}}
    {{/if}}
    {{{menuAttach}}}
</div>
