<div class="chat__layout">
        <nav class="chat__nav">
                <div class="chat__nav-panel">
                        {{{redirect}}}
                        {{{formSearch}}}
                </div>
                {{> Divider}}
                {{{chatsList}}}
        </nav>
        <div class="messages__container">
                <header class="messages__header">
                        {{{chatInfo}}}
                        {{{chatActions}}}
                </header>
                {{> Divider}}
                {{{messagesList}}}
                {{> Divider}}
                <footer class="messages__footer">
                        {{> ButtonIcon src=clipIcon alt="send attachment" page="404"}}
                        {{> MessageField}}
                        {{> ButtonIcon src=arrowIcon alt="send message" rotate="180" color="main" page="505"}}
                </footer>
        </div>
</div>
