<div class="chat__layout">
    <nav class="chat__nav">
        <div class="chat__nav-panel">
            {{{redirect}}}
            {{{formSearch}}}
        </div>
        {{> Divider}}
        {{{listChats}}}
        {{{actionCreateChat}}}
    </nav>
    {{#if selectedChat}}
        <div class="messages__container">
            <header class="messages__row">
                {{{headerChat}}}
                {{{actionsChat}}}
            </header>
            {{> Divider}}
            {{{listMessages}}}
            {{> Divider}}
            <footer class="messages__row">
                {{{actionAttach}}}
                {{{formMessage}}}
            </footer>
        </div>
    {{else}}
        {{#> BaseLayout}}
            <p class="text text_light-color">
                Please select chat from list or create new one
            </p>
        {{/BaseLayout}}
    {{/if}}
    {{{dialogChatAvatar}}}
    {{{usersSearch}}}
    {{{createChat}}}
    {{{menuAttach}}}
    {{{menuChat}}}
</div>
