<div class="chat__layout">
    <nav class="chat__nav">
        <div class="chat__nav-panel">
            {{{redirect}}}
            {{{formSearch}}}
        </div>
        {{> Divider}}
        {{{listChats}}}
    </nav>
    <div class="messages__container">
        <header class="messages__header">
            {{{imageChat}}}
            {{{titleChat}}}
            {{{actionsChat}}}
        </header>
        {{> Divider}}
        {{{listMessages}}}
        {{> Divider}}
        <footer class="messages__footer">
            {{{attachment}}}
            {{{formMessage}}}
        </footer>
    </div>
</div>
