<button
    class="{{#if classes}}{{classes}} {{/if}}button button__{{#if variant}}{{variant}}{{else}}filled{{/if}}"
    {{#if type}}type={{type}}{{/if}}
    {{#if disabled}}disabled{{/if}}
>
    {{label}}
</button>
