<div class="{{#if class}}{{class}} {{/if}} avatar avatar_{{size}}">
    {{#if pic}}
        <img class="avatar__image" src="{{pic}}" alt="user avatar">
    {{else}}
        <img class="avatar__image-default avatar__image-default_{{size}}" src="{{defaultPic}}" alt="empty user avatar">
    {{/if}}
</div>
