<form class='form form-info'>
    {{#>FormFields}}
        {{{email}}}
        {{{login}}}
        {{{firstName}}}
        {{{secondName}}}
        {{{nickName}}}
        {{{phone}}}
    {{/FormFields}}
    {{#if isEdit}}
        {{#>FormActions}}
            {{{submit}}}
        {{/FormActions}}
    {{/if}}
</form>
