<button class="button-icon{{#if color}} button-icon_color-{{color}}{{/if}}" page="{{page}}">
    <img  {{#if rotate}}class="button-icon__icon-{{rotate}}"{{/if}} src="{{src}}" alt="{{alt}}" page="{{page}}">
</button>