<div class="{{#if classes}}{{classes}} {{/if}}input-field{{#if hasError}} input-field_error{{/if}}{{#if disabled}} input-field_disabled{{/if}}">
    <div class="input-field__container{{#if inline}}_inline{{/if}}">
        <label for="{{name}}" class="input-field__label{{#if inline}}_inline{{/if}} text">{{label}}</label>
        <input
            class="{{#if classes}}{{classes}} {{/if}}input text"
            type="{{type}}"
            name="{{name}}"
            id="{{name}}"
            value="{{value}}"
            placeholder="{{placeholder}}"
            {{#if disabled}}disabled{{/if}}
            {{#if accept}}accept="{{accept}}"{{/if}}
        />
    </div>
    {{> Divider}}
    {{#if hasError}}
        <span class="input-field__text text text_error-color text_info">{{textError}}</span>
    {{else}}
        <span class="input-field__text text text_light-color text_info">{{textHelp}}</span>
    {{/if}}
</div>
