<div class="field-inline">
  <label for="{{name}}" class="field-inline field-inline__label text">{{label}}</label>
  <input
    class="field-inline__input text text_rigth text_light-color{{#if error}} field-inline__input_error text_error-color{{/if}}"
    type="{{type}}"
    name="{{name}}"
    id="{{name}}"
    value="{{value}}"
    placeholder="{{name}}"
  />
  {{#if error}}
    <span class="field-inline__help text text_error-color text_info">{{error}}</span>
  {{else}}
    <span class="field-inline__help text text_light-color text_info">{{help}}</span>
  {{/if}}  
</div>