<li class="item-chat"{{#if id}} key={{id}}{{/if}}>
    <div class="item-chat__container{{#if isCurrent}} item-chat__container_active{{/if}}">
            {{{avatarChat}}}
            <div class="item-chat__info">
                    <div class="item-chat__info-title">
                            <p class="item-chat__name text text_title">{{title}}</p>
                            {{#if time}}
                                <date class="item-chat__date text text_label text_light-color">{{time}}</date>
                            {{/if}}
                    </div>
                    {{#if lastMessage}}
                        <div class="item-chat__info-subtitle">
                                <span class="item-chat__message text text_light-color">{{lastMessage}}</span>
                                {{#if unreadCount}}
                                        <div class="item-chat__count">
                                                <span class="text text text_contrast-color">{{unreadCount}}</span>
                                        </div>
                                {{/if}}
                        </div>
                    {{/if}}
            </div>
    </div>
    {{>Divider}}
    <div class="item-chat__touch-layer" {{#if id}} key={{id}}{{/if}}></div>
</li>
