<form class='form form-reg'>
    {{#>FormFields}}
        {{{email}}}
        {{{login}}}
        {{{first_name}}}
        {{{second_name}}}
        {{{phone}}}
        {{{password}}}
        {{{password_more}}}
    {{/FormFields}}
    {{#>FormActions}}
        {{{submit}}}
        {{{redirect}}}
    {{/FormActions}}
</form>
