<form class='form form-reg'>
    {{#>FormFields}}
        {{{email}}}
        {{{login}}}
        {{{firstName}}}
        {{{secondName}}}
        {{{phone}}}
        {{{password}}}
        {{{passwordMore}}}
    {{/FormFields}}
    {{#>FormActions}}
        {{{submit}}}
    {{/FormActions}}
</form>
