<div class="field">
  <label for="{{name}}" class="field field__lable text text_light-color text_lable">{{label}}</label>
  <input
    class="field__input text {{#if error}}field__input_error text_error-color{{/if}}"
    type="{{type}}"
    name="{{name}}"
    id="{{name}}"
    value="{{value}}"
    placeholder="{{name}}"
  />
  {{#if error}}
    <span class="field__help text text_error-color text_info">{{error}}</span>
  {{else}}
    <span class="field__help text text_light-color text_info">{{help}}</span>
  {{/if}}  
</div>