<div class="{{#if class}}{{class}} {{/if}}field{{#if hasError}} field_error{{/if}}{{#if disabled}} field_disabled{{/if}}">
  <div class="field__container{{#if inline}}_inline{{/if}}">
    <label for="{{name}}" class="field__label{{#if inline}}_inline{{/if}} text">{{label}}</label>
    {{{input}}}
    </div>
  {{> Divider}}
  {{#if hasError}}
    <span class="field__text text text_error-color text_info">{{textError}}</span>
  {{else}}
    <span class="field__text text text_light-color text_info">{{textHelp}}</span>
  {{/if}}
</div>
