<form class='form form-user'>
    {{#>FormFields}}
        {{{email}}}
        {{{login}}}
        {{{first_name}}}
        {{{second_name}}}
        {{{nick_name}}}
        {{{phone}}}
    {{/FormFields}}
    {{#if isEdit}}
        {{#>FormActions}}
            {{{submit}}}
        {{/FormActions}}
    {{/if}}
</form>
