<form class='form form-user'>
    {{#>FormFields}}
        {{{email}}}
        {{{login}}}
        {{{first_name}}}
        {{{second_name}}}
        {{{nick_name}}}
        {{{phone}}}
    {{/FormFields}}
    {{#>FormActions}}
        {{{submit}}}
    {{/FormActions}}
</form>
