<li class="item-user"{{#if id}} key={{id}}{{/if}}>
    <div class="item-user__container{{#if isSelected}} item-user__container_active{{/if}}">
        {{{avatarUser}}}
        <div class="item-user__info">
            {{{nameUser}}}
            {{{nikcUser}}}
        </div>
    </div>
    {{>Divider}}
    <div class="item-user__touch-layer" {{#if id}} key={{id}}{{/if}}></div>
</li>
