<div class='avatar avatar_{{size}}'>
    {{#if source}}
        <img class="avatar__image" src="{{source}}" alt="avatar">
    {{else}}
        <img class="avatar__image-default avatar__image-default_{{size}}" src="{{defaultImage}}">
    {{/if}}
</div>
