<div class="message message_{{origin}} message_{{type}}">
    {{#if text}}
        <span class="text">{{text}}</span>
    {{/if}}
    {{#if media}}
        <img src={{media}}>
    {{/if}}
    <time class="text text_label">{{time}}</time>
</div>